<h5>DWC Administration Tasks</h5>

<!--div ng-if="userLevel==3"-->

<!--/div-->

<ul style= "font-size:30px;">
	<li><a href="#/staff/createUser" style="margin:0;position:relative;top:50%;left:40%;"> Add New User</h6> </a></li>
	<li><a href="#/staff/allUsers" style="margin:0;position:relative;top:50%;left:40%;">View All Users</a></li>
	<li><a href="#/staff/jobs" style="margin:0;position:relative;top:50%;left:40%;">All Jobs</a></li>
	<li><a href="#/staff/jobs/new" style="margin:0;position:relative;top:50%;left:40%;">New Work Request</a></li>
	<li><a href="#/staff/jobs/reports" style="margin:0;position:relative;top:50%;left:40%;">Reports</a></li>
	<li><a href="#/staff/mails" style="margin:0;position:relative;top:50%;left:40%;">Contact Requests</a></li>
	<li><a href="#/staff/pages" style="margin:0;position:relative;top:50%;left:40%;">Edit Front Page</a></li>
</ul>
<!--a ng-click='logout()'><button class="waves-effect waves-light btn-large">Log Out</button></a-->
